<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FileType</key>
		<string>.css</string>
		<key>FileTypeImage</key>
		<string>css.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.txt</string>
		<key>FileTypeImage</key>
		<string>txt.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.ttf</string>
		<key>FileTypeImage</key>
		<string>ttf.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.jpg</string>
		<key>FileTypeImage</key>
		<string>jpg.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.otf</string>
		<key>FileTypeImage</key>
		<string>otf.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.js</string>
		<key>FileTypeImage</key>
		<string>js.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.svg</string>
		<key>FileTypeImage</key>
		<string>svg.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.html</string>
		<key>FileTypeImage</key>
		<string>html.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.gif</string>
		<key>FileTypeImage</key>
		<string>gif.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.wav</string>
		<key>FileTypeImage</key>
		<string>wav.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.png</string>
		<key>FileTypeImage</key>
		<string>png.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.php</string>
		<key>FileTypeImage</key>
		<string>php.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.torrent</string>
		<key>FileTypeImage</key>
		<string>torrent.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.avi</string>
		<key>FileTypeImage</key>
		<string>video.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.asf</string>
		<key>FileTypeImage</key>
		<string>video.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.mov</string>
		<key>FileTypeImage</key>
		<string>video.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.mpeg</string>
		<key>FileTypeImage</key>
		<string>video.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.wmv</string>
		<key>FileTypeImage</key>
		<string>video.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.mpg</string>
		<key>FileTypeImage</key>
		<string>video.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.mp4</string>
		<key>FileTypeImage</key>
		<string>video.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.flv</string>
		<key>FileTypeImage</key>
		<string>video.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.aiff</string>
		<key>FileTypeImage</key>
		<string>music.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.flac</string>
		<key>FileTypeImage</key>
		<string>music.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.mp3</string>
		<key>FileTypeImage</key>
		<string>music.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.m4p</string>
		<key>FileTypeImage</key>
		<string>music.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.wav</string>
		<key>FileTypeImage</key>
		<string>music.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.dvf</string>
		<key>FileTypeImage</key>
		<string>music.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.wma</string>
		<key>FileTypeImage</key>
		<string>music.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.xls</string>
		<key>FileTypeImage</key>
		<string>excel.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.xlt</string>
		<key>FileTypeImage</key>
		<string>excel.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.xlsx</string>
		<key>FileTypeImage</key>
		<string>excel.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.xltx</string>
		<key>FileTypeImage</key>
		<string>excel.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.doc</string>
		<key>FileTypeImage</key>
		<string>word.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.docx</string>
		<key>FileTypeImage</key>
		<string>word.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.dot</string>
		<key>FileTypeImage</key>
		<string>word.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.dotx</string>
		<key>FileTypeImage</key>
		<string>word.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.flv</string>
		<key>FileTypeImage</key>
		<string>flash.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.swf</string>
		<key>FileTypeImage</key>
		<string>flash.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.ppt</string>
		<key>FileTypeImage</key>
		<string>powerpoint.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.pptx</string>
		<key>FileTypeImage</key>
		<string>powerpoint.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.sldx</string>
		<key>FileTypeImage</key>
		<string>powerpoint.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.psd</string>
		<key>FileTypeImage</key>
		<string>photoshop.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.psb</string>
		<key>FileTypeImage</key>
		<string>photoshop.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.pdd</string>
		<key>FileTypeImage</key>
		<string>photoshop.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.dwt</string>
		<key>FileTypeImage</key>
		<string>dreamweaver.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.jsf</string>
		<key>FileTypeImage</key>
		<string>fireworks.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.stl</string>
		<key>FileTypeImage</key>
		<string>fireworks.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.fw</string>
		<key>FileTypeImage</key>
		<string>fireworks.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.indd</string>
		<key>FileTypeImage</key>
		<string>indesign.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.indl</string>
		<key>FileTypeImage</key>
		<string>indesign.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.indt</string>
		<key>FileTypeImage</key>
		<string>indesign.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.ai</string>
		<key>FileTypeImage</key>
		<string>illustrator.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.ait</string>
		<key>FileTypeImage</key>
		<string>illustrator.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.eps</string>
		<key>FileTypeImage</key>
		<string>illustrator.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.arp</string>
		<key>FileTypeImage</key>
		<string>audition.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.cp</string>
		<key>FileTypeImage</key>
		<string>audition.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.cel</string>
		<key>FileTypeImage</key>
		<string>audition.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.imp</string>
		<key>FileTypeImage</key>
		<string>audition.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.ses</string>
		<key>FileTypeImage</key>
		<string>audition.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.pdf</string>
		<key>FileTypeImage</key>
		<string>acrobat.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.zip</string>
		<key>FileTypeImage</key>
		<string>archive.png</string>
	</dict>
	<dict>
		<key>FileType</key>
		<string>.rar</string>
		<key>FileTypeImage</key>
		<string>archive.png</string>
	</dict>
</array>
</plist>
